<!--top section -->
<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet" type="text/css" href=rel="stylesheet" type="text/css">
<script src="{{url_for('static', filename = 'script.js')}}"></script>
<script src="{{url_for('static', filename = 'leaflet/leaflet.js')}}"></script>
<header class="masthead">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
  <p class="masthead-intro">Hi, We:</p>
  <h1 class="masthead-heading">OrangMales</h1>

  <div class="button-grey">
    <button class="button button-grey" id="introductionButton" onclick="scrollToSection('introductionButton');">
      INTRODUCTION
    </button>

    <button class="button button-grey" id="fromButton" onclick="scrollToSection('fromButton');">
      I'M FROM
    </button>

    <button class="button button-grey" id="aboutMeButton" onclick="scrollToSection('aboutMeButton');">
      MORE ABOUT ME
    </button>
  </div>
</header>
<!-- end top section -->

<!-- the div is used to apply the gradient -->
<div class="gradient">
  <!-- Body (SECTION 2/3) -->
  <p id="xml_converted"></p>
  <script>
      var text, parser, xmlDoc;

      text = static/Uploads/Lugano.gpx;

      parser = new DOMParser();
      xmlDoc = parser.parseFromString(text,"text/xml");

      document.getElementById("xml_converted").innerHTML =
      xmlDoc.getElementsByTagName("activity")[0].childNodes[0].nodeValue;
   </script>
  <div id="map" style="height: 250px;"></div>
  <script type="text/javascript">
    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    var map = L.map('map').setView([55.8642, -4.2518], 11);

    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });
    L.marker([55.8642, -4.2518]).addTo(map)
     .bindPopup('Dom Smells')
     .openPopup();

    // Now add the layer onto the map
    map.addLayer(layer);
  </script>
  <section>
    <h2>Introduction</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
  </section>

  <section>
    <h2>Header 1</h2>
    <p class="space-maker">More lorem ipsum garbage cause we need to fill this with text and all</p>
  </section>

  <section>
    <h2>More headers cause why not</h2>
    <h3>Thiw is a smaller header. Cute</h3>
    <p class="space-maker">Things and stuff</p>
    <h3>Another cute header</h3>
    <p class="space-maker">And this is the stuff that goes in the header explanation blah blah.</h3>
      <p></p>
  </section>
</div>

<!-- Footer (SECTION 3/3) -->
<footer class="content-footer">
  <p>Check out our Githubs:</p>
  <ul class="social">
    <li><a href="https://github.com/Eoin-McMahon/OrangMales" target=_Blank>Github</a></li>
  </ul>
  <p>Cover image via <a href="https://unsplash.com/photos/ISBPr3reT68" target=_Blank>Unsplash</a></p>
</footer>
